@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "LogoFont";
  src: url("/fonts/REFOLLE.otf") format("truetype");
  /* Add additional src lines if you have different font file formats */
  /* src: url('/fonts/myfont.woff') format('woff'); */
  /* src: url('/fonts/myfont.otf') format('opentype'); */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}

body {
  list-style: none;
  font-family: "Assistant", sans-serif;
  background: #fff;
}

.logo-span {
  font-family: "LogoFont";
}

.hero-wrapper {
  background: url("../public/images/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.collection-one {
  background: url("../public/images/collectionOne.svg");
  background-size: cover;
  background-position: center;
  height: 500px;
}

.collection-two {
  background: url("../public/images/collectionTwo.svg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.collection-three {
  background: url("../public/images/collectionThree.svg");
  background-size: cover;
  background-position: center;
  height: 242px;
  width: 239px;
}

.collection-four {
  background: url("../public/images/collectionFour.svg");
  background-size: cover;
  background-position: center;
  height: 242px;
  width: 239px;
}
